language: cpp

compiler:
  - clang
  - gcc

cache: apt

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libboost-dev libedit-dev
  - sudo pip install cpp-coveralls

before_script:
  - mkdir build
  - (cd build; cmake .. -DKLANG_UNIT=ON -DKLANG_COVERAGE=ON)

script: 
  - (cd build; make -j8)
  - (cd build; ctest -E CppUTest)
after_success:
  - coveralls -e test -e spec -e include -E CompilerId -e build/vendors
