language: cpp

compiler:
  - clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libboost-dev
  - sudo apt-get install -y libedit-dev

before_script:
  - mkdir build
  - cd build
  - cmake .. -DINTEGRATION_TEST=ON

script: 
  - make VERBOSE=1
  - ctest -E CppUTest
