language: cpp

compiler:
  - clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libboost-dev
  - sudo apt-get install -y libedit-dev
  - sudo pip install cpp-coveralls

before_script:
  - mkdir build
  - (cd build; cmake .. -DKLANG_UNIT=ON -DCMAKE_BUILD_TYPE=Debug)

script: 
  - (cd build; make)
  - (cd build; ctest -E CppUTest)
after_success:
  - coveralls -b build/CMakeFiles/runUnit.dir/test
